<!DOCTYPE html>
<html>
<head>
	@{meta}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	@{import('meta', 'head', 'jquery-2.2.3.min.js', 'siimple.min.css', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body>

	<div class="container-background">
		<div class="container">
			<div class="center"><a href="/"><img class="logo" src="/img/logo.png" alt="The Five Minute Journal" border="0" /></a>
				<hr /></div>
			<br />
			@{body}
		</div>
	</div>


	<footer>
		<hr />
		Merci.
	</footer>

</body>
</html>