<h3 class="center">
	Bonjour @{model.firstName} @{model.lastName}.
</h3>
<p class="center">
	Comment aimeriez vous que nous appelons ?
</p>

<p class="center">
<form class="center">
	<select class="form-select form-auto">
		<option>Martin</option>
		<option>Martin H.</option>
		<option>Martin Hammerchmidt</option>
		<option>M. Hammerchmidt</option>
		<option>Mme. Hammerchmidt</option>
		<option>Mlle. Hammerchmidt</option>
	</select>
</form>
</p>

<p class="center">
	<a class="btn">Valider</a>
</p>